.weekend {
  color: blue;
}

.present {
  background-color: rgb(8, 188, 53);
  /* color: white; */
}

.absent {
  background-color: rgb(206, 240, 253);
  color: red;
}
.react-calendar__tile--now {
  background-color: rgb(255, 136, 0);
}
