.card {
  padding: 0.8rem;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 0.5rem;
}

.card h5 {
  font-weight: 500;
}

.card p {
  margin: 0;
}
