.input-label {
  font-weight: 600;
}

Form {
  border: 4px solid #fffb00; /* Yellow border */
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 255, 0, 0.2);
  background-color: #fcfffc; /* Cool gray background */
  width: 100%;
  margin-top: 100px; /* Increase this value to push the form lower */
  max-width: 500px;
  height: min-content;
  margin: 1rem;
}


a {
  cursor: pointer;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
