:root {
  --background-color: #fff;
}
* {
  box-sizing: border-box;
}

body {
  background: rgb(193, 193, 193);
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 100%,
    rgb(255, 113, 113) 100%
  );
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../public/bakcground.png") center center no-repeat;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}

#root {
  width: 100%;
  display: flex;
  min-height: 100vh;
}

.max-width {
  width: 100%;
  height: 100%;
}
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.tagline {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 440;
  font-style: italic;
  margin-bottom: 20px;
  font-size: 100px;
  padding-left: 50px;
  text-shadow:
    -2px -2px 0 #fffb00,
    2px -2px 0 #01fc0d,
    -2px 2px 0 #b40000,
    2px 2px 0 #1900ff;
}

body {
  position: relative;
}
.center-container {
  display: flex;
  flex-direction: row; /* Stack children vertically */
  align-items: center; /* Center items horizontally */
  justify-content: space-around; /* Center items vertically */
  height: 100%;
  position: relative;
  left: 5%;
}

.center-container > .tl-c {
  padding-left: 180px;
  text-align: center;
}

.center-container > .center {
  margin-left: -30px;
}
@media (max-width: 768px) {
  .tl-c {
    display: none; /* Hide the tagline */
  }
}