:root {
  /* --background-color: #fff;
  --card-bg: #fff;
  --text-color: #000;
  --card-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  --background-color: #222;
  --card-bg: #393636;
  --text-color: #fafafa;
  --card-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --card-hover-bg: #494747;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

#root {
  width: 100%;
  display: flex;
  min-height: 100vh;
}

.max-width {
  width: 100%;
  height: 100%;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.tagline {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 440;
  font-style: italic;
  margin-bottom: 20px;
  font-size: 100px;
  padding-left: 50px;
  text-shadow:
    -2px -2px 0 #fffb00,
    2px -2px 0 #01fc0d,
    -2px 2px 0 #b40000,
    2px 2px 0 #1900ff;
}

body {
  position: relative;
}

.center-container {
  display: flex;
  flex-direction: row;
  /* Stack children vertically */
  align-items: center;
  /* Center items horizontally */
  justify-content: space-around;
  /* Center items vertically */
  height: 100%;
}

.center-container > .tl-c {
  padding-left: 180px;
}

.center-container > .center {
  margin-left: -30px;
}
