.input-label {
	font-weight: 600;
}

Form {
	border: 1px solid #ddd;
	padding: 20px;
	border-radius: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	background-color: #fff;
	width: 100%;
	max-width: 500px;
}

a {
	cursor: pointer;
}